table#chess_board {
  border: 5px solid black;
  max-width: 80%;
}

tr td {
  width: 5em;
  height: 5em;
  text-align: center;
  vertical-align: middle;
}

#chess_board tr:nth-child(odd) td:nth-child(even){
  background-color: black;
}

#chess_board tr:nth-child(even) td:nth-child(odd){
  background-color: black;
}

table img {
  height: 50px;
  width: 50px;
}
