table#grid {
  border: 5px solid black;
  max-width: 80%;
}

tr td {
  width: 5em;
  height: 5em;
}

#grid tr:nth-child(odd) td:nth-child(even){
  background-color: black;
}

#grid tr:nth-child(even) td:nth-child(odd){
  background-color: black;
}
